<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Senha' %><br />
    <%= f.password_field :password, autocomplete: "current-password", :class=>"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Lembrar-me' %>
    </div>
  <% end %>
  <br>
  <div class="actions">
    <%= f.submit "Log in", :class=>"btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "users/shared/links" %>
