<% if notice %>
 <p id="notice" ><%= notice %></p>
<% end %>
<h1>Catálogo</h1>
<br>
<br>
<% @games.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |game| %>
      <div class="col-md-4">
        <%= image_tag game.picture_url, size: '200x180' if game.picture.present?%>
        <h4><%= link_to game.name, game %></h4>
        R$<%=   game.price %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>

