<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :name, :class=>"form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :preço %>
    <%= form.text_field :price, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :categoria_id %>
    <%= form.select :category_id, Category.pluck(:name, :id), :prompt => 'Selecionar' %>
    <%= link_to "Criar categoria", new_category_path %>
  </div>
  
  <div class="form-group">
  <%= form.label :"Adicione uma imagem"%>
    <%= form.file_field :picture %>
  </div>
   <br>

  <div class="actions">
    <%= form.submit "Cadastrar", :class=>'btn btn-primary'%>
  </div>
  <br>
<% end %>
