<p id="notice"><%= notice %></p>

<h1>Lista de Jogos</h1>

<table class="table">
  <thead>
    <tr>
    <th>  </th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
      <td><%= image_tag game.picture_url, size: '200x180' if game.picture.present?  %></td>
        <td><%= link_to game.name, game %></td>
        <td>R$<%= game.price %></td>
        <td><%= game.category.name %></td>
        <% if can? :create, Game%>
        <td><%= link_to 'Editar', edit_game_path(game) %></td>
        <td><%= link_to 'Deletar', game, method: :delete, data: { confirm: 'Deseja mesmo excluir o jogo da lista?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <% if can? :create , Game%>
    <%= link_to 'Adicionar Jogo', new_game_path %>
  <% end%>


