

<p>
  <%= image_tag(@game.picture_url, size: '200x180') if @game.picture.present?  %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @game.category.name %>
</p>
<br>
<div class="price_line" >
  <%= button_to 'Adicionar ao carrinho', line_items_path(:game_id => @game), :class=>"btn btn-primary" %>
</div>
<br>
<% if can? :edit, Game%>
  <%= link_to 'Editar', edit_game_path(@game) %> |
  <%= link_to 'Voltar', games_path %>
<% else %>
  <%= link_to 'Voltar', root_path %>
<% end%>
