<p id="notice"><%= notice %></p>

<div> <b>Seu carrinho</b> </div> 
<br>
<table class="table">
  <thead>
    <tr>
      <th>Quantidade</th>
      <th>Produto</th>
      <th>Valor</th>
    </tr>
  </thead>
    <% @cart.line_items.each do |item| %>
        <tr>
            <td><%= item.quantity %>&times;</td>
            <td><%= item.game.name %></td>
            <td> R$ <%= item.total_price %></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2"> <b>Total</b> </td> 
        <td> <b> R$ <%= @cart.total_price%> </b> </td>
    </tr>
</table>
<%if user_signed_in? && @cart.total_price != 0%>
<%= button_to 'Comprar', @cart, :method => :delete, :class=>"btn btn-primary" %> 
<%end%>

<%if @cart.total_price != 0%>
<br>
<%= button_to 'Esvaziar carrinho', @cart, :method => :delete, :class=>"btn btn-primary" %> 
<%end%>
