<!DOCTYPE html>
 <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
<html>
  <head>
    <title>Loja de Jogos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand"> 
            <%= link_to '<i class="glyphicon glyphicon-home"></i> Início'.html_safe, root_path, id: "logo" %>
          </div>
        </div>
      <ul class="nav navbar-nav">
      <% if can? :create, Game %>
        <li> <%= link_to "Gerenciar jogos", games_path %> </li>
      <% end %>
        <li> <%= link_to '<i class="glyphicon glyphicon-shopping-cart"></i> Carrinho'.html_safe, cart_path(current_cart) %> </li>
      </ul>
       <ul class="navbar-text float-right">
      <% if user_signed_in? %>
        <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Registrar", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
  </ul>
      </div>
    </nav>

   
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
