<h2>Registre-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Senha' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirmação de senha' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar", :class=>"btn btn-primary" %>
  </div>
<% end %>
  <br>

<%= render "users/shared/links" %>
